<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Domain</directory>
      <directory>tests/AmoCRM</directory>
      <directory>tests/Http</directory>
      <directory>tests/Jobs</directory>
      <directory>tests/OAuth</directory>
      <directory>tests/Security</directory>
      <directory>tests/Services</directory>
      <directory>tests/Support</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="Document">
      <directory>tests/Document</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>
</phpunit>
